* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --fundo-1: #040d12;
    --fundo-2: #3c3d37;
    --fundo-3: #697565;
    --fundo-4: #ecdfcc;
    --text-collor: #faf0e6;
  }