@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --fundo-1: #040d12;
  --fundo-2: #3c3d37;
  --fundo-3: #697565;
  --fundo-4: #ecdfcc;
  --text-collor: #ffffff;
  --fundo-5: #ffc1b4;
  --border-color: #fff5;
  --w-image: min(90vw, 500px);
  --calculate: calc(3 / 2);
}
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100svw;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

#loader.active {
  opacity: 1;
  visibility: visible;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #ff5722;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100svw;
  height: 60px;
  color: var(--text-collor);
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 10px;
}
.logo a {
  width: 8svw;
  height: 6svh;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-collor);
  filter: drop-shadow(1px 1px 10px var(--fundo-4));
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  margin: 0;
}
.navbar-nav li {
  margin: 0 5px;
}

.navbar-nav li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: white;
}
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  text-decoration: none;
  color: var(--text-collor);
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}
.btn-5 {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 500ms ease-in-out;
  color: var(--text-collor);
  position: relative;
}

.btn-5:hover {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease-in-out, visibility 0.3s;
}

.dropdown li a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #444;
}

.dropdown-arrow {
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
  transition: transform 0.3s ease;
}

.drop:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.drop a {
  display: inline-flex;
  align-items: center;
}
.cart-inscrever-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cart-icon {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-collor);
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}
.addToCard:focus {
  outline: 2px solid #fff;
}
main {
  width: 100svw;
  height: auto;
  margin-top: 60px;
  font-size: 62.5% !important;
}
.carousel {
  margin-top: -60px;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  justify-content: center;
}
.carousel .title-vestuario {
  margin-top: 60px;
}
.carousel .list {
  height: 100%;
  position: relative;
}
.carousel .list::before {
  position: absolute;
  width: var(--w-image);
  height: 100%;
  content: "";
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  z-index: 10;
  pointer-events: none;
}
.carousel .list::after {
  position: absolute;
  top: 50px;
  left: 50px;
  content: "";
  background-color: red;
  width: 400px;
  height: 300px;
  z-index: 10;
  pointer-events: none;
  border-radius: 20px 50px 110px 230px;
  filter: blur(150px);
  opacity: 0.6;
}
.carousel .list .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel .list .item .image {
  width: var(--w-image);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: 500;
}
.carousel .list .item .image img {
  width: 70%;
  margin-bottom: 20px;
  filter: drop-shadow(0 150px 50px #9e0c0c55);
}
.carousel .list .item .image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.carousel .list .item .image figcaption {
  font-family: "Aboreto";
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 60px;
  width: 70%;
}
.carousel .list .item .main-content {
  height: 100%;
  display: grid;
  grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content {
  padding: 150px 20px 20px 80px;
}
.carousel .list .item .main-content .content h1 {
  font-size: 5em;
  font-family: "Aboreto";
  justify-content: center;
  gap: 10px;
  font-weight: 700;
}
.carousel .list .item .main-content .content h2 {
  font-size: 4em;
  font-family: "Aboreto";
  justify-content: center;
}
.carousel .list .item .main-content .content .price {
  font-family: "Aboreto";
  font-size: 3em;
  margin: 20px 0;
}
.carousel .list .item .main-content .content .addToCard {
  background-color: #4f8b69;
  color: #fff;
  padding: 10px 30px;
  font-family: Poppins;
  font-size: large;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
  justify-content: center;
}
.carousel .list .item .main-content .content .addToCard:hover {
  background: #427388;
}
.arrows {
  position: absolute;
  bottom: 40px;
  width: calc(100% - calc(var(--w-image) * var(--calculate)));
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: 50px;
  justify-content: center;
  gap: 10px;
}
.arrows button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: #fff;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  line-height: 0;
  box-shadow: 0 10px 40px #5555;
  cursor: pointer;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #eee5;
}
.carousel .list .item {
  display: none;
}
.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
  display: block;
}
.carousel .list .item.active {
  z-index: 2;
}
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
  pointer-events: none;
}
.carousel .list .item.active .main-content {
  animation: showContent 1s ease-in-out 1 forwards;
}
@keyframes showContent {
  from {
    clip-path: circle(0% at 70% 50%);
  }
  to {
    clip-path: circle(100% at 70% 50%);
  }
}
.next .item.other_1 {
  z-index: 1;
}
.next .item .image img,
.next .item .image figcaption {
  animation: effectNext 0.5s ease-in-out 1 forwards;
}
@keyframes effectNext {
  from {
    transform: translateX(calc(var(--transform-from)));
  }
  to {
    transform: translateX(calc(var(--transform-from) - var(--w-image)));
  }
}
.next .item.active .image {
  --transform-from: var(--w-image);
}
.next .item.other_1 .image {
  z-index: 3;
  --transform-from: 0px;
  overflow: hidden;
}
.next .item.other_2 .image {
  z-index: 3;
  --transform-from: calc(var(--w-image) * 2);
}
.arrows {
  z-index: 10;
}
/* prev */
.prev .list .item .image img,
.prev .list .item .image figcaption {
  animation: effectPrev 0.5s ease-in-out 1 forwards;
}
@keyframes effectPrev {
  from {
    transform: translateX(calc(var(--transform-from)));
  }
  to {
    transform: translateX(calc(var(--transform-from) + var(--w-image)));
  }
}
.prev .list .item.active .image {
  --transform-from: calc(var(--w-image) * -1);
  overflow: hidden;
}
.prev .list .item.other_1 .image {
  --transform-from: 0px;
  z-index: 3;
}
.prev .list .item.other_2 .image {
  z-index: 3;
  --transform-from: var(--w-image);
}
.prev .list .item.other_2 .main-content {
  opacity: 0;
}

footer {
  background: linear-gradient(#222, #3c3d37, #697565);
  color: #fff;
  padding: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--fundo-4);
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.text-title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.text-title p {
  width: 100%;
  margin: 0;
  text-align: left;
}
.social-links {
  display: flex;
  gap: 10px;
}
.social-links a {
  font-size: 24px;
  transition: color 0.3s;
  color: #fff;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.footer-section {
  max-width: 300px;
  margin-top: 20px;
}
.footer-section p {
  margin-top: 20px;
}
.footer-section h3 {
  color: var(--text-collor);
  filter: drop-shadow(1px 1px 10px var(--fundo-4));
}
.footer-section img {
  width: 10rem;
  height: 5rem;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.footer-section ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-section ul li a:hover {
  color: #fff;
  filter: drop-shadow(1px 1px 10px var(--fundo-4));
}

.copyrite {
  margin-top: 20px;
  font-size: 14px;
}

body {
  background-color: rgb(73, 73, 73);
  font-weight: 600;
  text-align: center !important;
  color: white;
}

nav {
  background: none !important;
  text-transform: uppercase;
  flex-direction: column;
}

nav li {
  margin-left: 3em;
  margin-right: 3em;
}

nav li a {
  transition: 0.5s color ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media screen and (max-width: 1023px) {
  :root {
    --calculate: 1;
    --w-image: 400px;
  }
  .carousel .list .item .main-content .content h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 767px) {
  .carousel .list .item .image {
    width: 100%;
    left: 0;
    justify-content: center;
  }
  .carousel .list .item .image figcaption {
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .carousel .list .item .main-content .content {
    display: none;
  }
  .arrows {
    left: 50%;
    justify-content: center;
  }
}
